<nav class="navbar navbar-expand navbar-dark bg-danger d-flex justify-content-between">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    </div>

    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" >
            <i class="fas fa-shopping-cart fa-lg text-white"></i></a>
        <div *ngIf="isLoggedIn$ | async" class="nav-item nav-link text-light"><i class="fas fa-user fa-lg text-white mr-1"></i>{{name}}</div>
        <button *ngIf="!(isLoggedIn$ | async)" class="btn btn-sm btn-outline-danger nav-item nav-link" (click)="login()">Login</button>
        <button *ngIf="isLoggedIn$ | async" class="btn btn-smbtn-outline-danger nav-item nav-link" (click)="logout()">Logout</button>
    </div>

</nav>

